<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>个人用户修改密码</title>
    <script src="../jquery-3.4.1.js"></script>
    <script src="../layui/layui.all.js"></script>
    <script src="../layui/layui.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../layui/css/layui.mobile.css">
</head>
<body align="center">
<form id="form">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">修改密码</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <table border="1">
                <input type="hidden" name="userId" th:value="${user.userId}">
                &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;用户名: <input type="text" name="userName" th:value="${user.userName}"><br>
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;旧密码: <input type="password" name="oldPassword" id="oldpassword"><br>
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;新密码: <input type="password" name="password" id="password"><br>
                确认新密码: <input type="password" name="respassword" id="respassword"><br>
                <button type="button" class="layui-btn layui-btn-sm" id="retButton">重置密码</button>
            </table>
        </form>
    </div>


    <script type="text/javascript">
        $(function () {
            $("#retButton").click(function () {
                var password = $("#password").val();
                var respassword = $("#respassword").val();
                var oldpassword = $("#oldpassword").val();
                var sessionpwd = $("").val();
                if (oldpassword == '') {
                    layer.msg("旧密码不能为空");
                    return false;
                }
                /*   if(oldpassword!=sessionpwd){
                       alert("旧密码不匹配");
                       return false;
                   }*/

                if (password == '') {
                    layer.msg("新密码不能为空");
                    return false;
                }
                if (respassword == '') {
                    layer.msg("确认密码不能为空");
                    return false;
                }
                if (password != respassword) {
                    layer.msg("俩次密码不一致");
                    return false;
                }
                var data = $("#form").serialize();
                $.get("/user/checkPassport", {
                    "newPassword": $("#oldpassword").val()
                }, function (result) {
                    if (result == "true") {
                        $.get("/user/doUpdatePwd1", data, function (result) {
                            if (result == 'ok') {
                                layer.msg("修改成功");
                                location.href = "/toPath/queryAllUser";
                            } else {
                                layer.msg("修改失败");
                                location.href = "/toPath/queryAllUser";
                            }
                        })
                    } else {
                        layer.msg("旧密码不正确");

                    }

                })


            })
        })

    </script>


</form>
</body>
</html>