<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>所有用户</title>
</head>
<body>
<form action="/toPath/queryAllUser" align="center" id="userform">
    用户名: <input type="text" name="userName">
    用户状态: <select name="status">
    <option value="-1">请选择</option>
    <option value="1">正常</option>
    <option value="2">冻结</option>
</select>
    <input type="submit" value="查询">
</form>
<br><br><br><br>

<table align="center" border="1">
    <tr>
        <td>用户ID</td>
        <td>用户姓名</td>
        <td>用户角色</td>
        <td>用户状态</td>
        <td>操作</td>
    </tr>
    <tr th:each="l:${list}" th:object="${l}">
        <td th:text="*{userId}"></td>
        <td th:text="*{userName}"></td>
        <td th:text="*{role.roleValue}"></td>
        <td>
            <span th:if="*{status}=='1'">正常</span>
            <span th:if="*{status}=='2'">冻结</span>


        </td>
        <td>
            <input type="button" th:if="*{status==1}" th:onclick="if(confirm('是否冻结？'))fro([[*{userId}]])" value="冻结"
                   id="fro">
            <input type="button" th:if="*{status==2}" th:onclick="if(confirm('是否恢复？'))ret([[*{userId}]])" value="恢复"
                   id="ret">
            <a href="" th:text="修改"></a>
        </td>
    </tr>
</table>
<script src="../jquery-3.4.1.js"></script>
<script type="text/javascript">
    function fro(e) {
        console.log(e);

        $.post("/user/updateUserState1", "userId=" + e, function (result) {
            if (result == 'ok') {
                alert("冻结成功");
                window.location.reload();
            } else {
                alert("冻结失败");
            }
        })
    }

    function ret(e) {
        console.log(e);
        $.post("/user/updateUserState2", "userId=" + e, function (result) {
            if (result == 'ok') {
                alert("解冻成功");
                window.location.reload();
            } else {
                alert("解冻失败");
            }
        })
    }
</script>


</body>
</html>