<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>个人用户修改密码</title>
    <script src="../jquery-3.4.1.js"></script>
</head>
<body>
<form id="form">
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">修改密码</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <input type="hidden" name="userId" th:value="${user.userId}">
        用户名: <input type="text" name="userName" th:value="${user.userName}"><br>
        旧密码: <input type="password" name="oldPassword" id="oldpassword"><br>
        新密码: <input type="password" name="password" id="password"><br>
        确认新密码: <input type="password" name="respassword" id="respassword"><br>
        <input type="button" value="重置密码" id="retButton">
    </form>
</div>



<script type="text/javascript">
        $(function () {
            $("#retButton").click(function () {
                var password=$("#password").val();
                var respassword=$("#respassword").val();
                var oldpassword=$("#oldpassword").val();
                var sessionpwd=$("").val();
                if(oldpassword==''){
                    alert("旧密码不能为空");
                    return false;
                }
             /*   if(oldpassword!=sessionpwd){
                    alert("旧密码不匹配");
                    return false;
                }*/

                if(password==''){
                    alert("新密码不能为空");
                    return false;
                }
                if(respassword==''){
                    alert("确认密码不能为空");
                    return false;
                }
                if(password!=respassword){
                    alert("俩次密码不一致");
                    return false;
                }
                var data=$("#form").serialize();
                $.get("/user/checkPassport",{
                    "newPassword":$("#oldpassword").val()
                },function (result) {
                    if(result=="true"){
                        alert("123");
                        $.get("/user/doUpdatePwd1",data,function (result) {
                            if(result=='ok'){
                                alert("修改成功");
                                location.href="/toPath/queryAllUser";
                            }else{
                                alert("修改失败");
                                location.href="/toPath/queryAllUser";
                            }
                        })
                    }else{
                        alert("旧密码不正确");

                    }

                })








            })
        })

</script>


</form>
</body>
</html>